@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Manrope:wght@800&display=swap");

html {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  background-color: hsl(217, 19%, 38%);
  background-color: hsl(217, 19%, 24%);
  background-color: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 50%;
  width: 500px;
  background-color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  text-align: center;
}

.advice {
  color: #3cb371;
  font-size: 18px;
}

.quote {
  color: aliceblue;
  font-size: 28px;
}

.dicebtn {
  border-radius: 30px;
  background-color: hsl(150, 100%, 66%);
  padding: 20px;
}

@media screen and (max-width: 400px) {
  .container {
    width: auto;
    background-color: hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    text-align: center;
  }

  .advice {
    color: #3cb371;
    font-size: 18px;
  }

  .quote {
    color: aliceblue;
    font-size: 28px;
  }

  .dicebtn {
    border-radius: 30px;
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
  }
}
