@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Manrope:wght@800&display=swap");

html {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  background-color: hsl(217, 19%, 38%);
  background-color: hsl(217, 19%, 24%);
  background-color: hsl(218, 23%, 16%);
}

.container {
  position: absolute;
  top: 20rem;
  left: 40rem;
  margin: auto;
  height: 250px;
  width: 500px;
  background-color: hsl(193, 38%, 86%);
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  text-align: center;
}

.advice {
  color: #3cb371;
  font-size: 18px;
}

.quote {
  color: aliceblue;
  font-size: 28px;
}

.dicebtn {
  position: absolute;
  top: 14.5rem;
  right: 13.5rem;
  border-radius: 30px;
  background-color: hsl(150, 100%, 66%);
  padding: 20px;
}

@media screen and (max-width: 375px) {
  .container {
    position: absolute;
    top: 20rem;
    left: 0rem;
    margin: auto;
    height: 350px;
    width: 425px;
    background-color: hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    text-align: center;
  }

  .advice {
    color: #3cb371;
    font-size: 18px;
  }

  .quote {
    color: aliceblue;
    font-size: 28px;
  }

  .dicebtn {
    position: absolute;
    top: 20rem;
    right: 11rem;
    border-radius: 30px;
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    position: absolute;
    top: 20rem;
    left: 40rem;
    margin: auto;
    height: 250px;
    width: 500px;
    background-color: hsl(193, 38%, 86%);
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    text-align: center;
  }

  .advice {
    color: #3cb371;
    font-size: 18px;
  }

  .quote {
    color: aliceblue;
    font-size: 28px;
  }

  .dicebtn {
    position: absolute;
    top: 14.5rem;
    right: 13.5rem;
    border-radius: 30px;
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
  }
}
